@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --color-primario:#0C1844;
    --color-secundario:#FFF5E1;
    --color-terciario: #FF6969;
    --color-hover: #C80036;

    --fuente-montserrant:'Montserrat', sans-serif;
    --fuente-krona:'Krona One', sans-serif;
}

* {
    padding: 0;
    margin:0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.header{
    padding: 2% 0 0 15% ;
}
.header__menu{
    display: flex;
    gap: 80px;   
}

.header__menu__link{
    font-family: var(--fuente-montserrant);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}


.presentacion {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-betw een;
    gap: 82px;
}

.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo{
    font-size: 2.25rem;
    font-family: var(--fuente-krona);
}

.titulo-destaque {
    color: var(--color-terciario);
}

.presentacion__contenido__texto{
    font-size: 1.5rem;
    font-family: var(--fuente-montserrant);
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulo{
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}

.presentacion__enlaces__link{
    /* background-color: #22D4FD; */
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: var(--fuente-montserrant);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion__enlaces__link:hover{
    background-color: var(--color-hover);
    font-size: 25px;
}

.presentacion__imagen{
    width: 50%;
}


.footer{
    background-color: var(--color-terciario);
    color: var(--color-primario);
    padding: 1.5rem;
    text-align: center;
    font-family: var(--fuente-montserrant);
    font-weight: 400;
    text-shadow: 1px 1px 2px black;
}


/* Mobile version */
@media (max-width: 1200px){
    .header{
        padding: 10%;
    }

    .header__menu{
        justify-content: center;   
    }

    .presentacion{
        flex-direction: column-reverse;
        
    }

    .presentacion__contenido{
        width: auto;
    }
    
}